.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #12efef;
  min-height: 11vh;
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  font-size: calc(20px + 2vmin);
  font-family: Helvetica;
  color: #dc582a; /*Dark Orange 1*/
}

.Home-bar {
  display: flex;
  padding-left: 1vw;
  padding-top: 1vh;
  background-color: #ffdb63;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.Home-nav {
  align-items: center;
  display: inline;
}

.Home-nav-right {
  margin-left: auto;
}


a {
  color: #114b96; /*Blue that matches UD logo */
  font-size: calc(10px + 2vmin);
  padding-left: 1vw;
  text-decoration: none;
}

a:hover {
  color: #add8e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #185789;
  color: #000;
  background-image: url(assets/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* find better font and colors for the page */
#navbar {
  height: 90%;
  position: sticky;
  top: 20px;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(assets/musicbg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* 600px 1000px; */
}
.pagediv {
  height: 86.5vh;
  width: 95vw;
  display: flex;
  box-shadow: inset 0 0 5px grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vh 1vw 1vh 1vw;
  margin-top: 0px;
  background: #ffdb63;
  border-radius: 10px;
  margin-left: 2.5vw;
}

.about {
  margin: 10px;
  padding: 10px;
  background: #fcfcd2;
  border-radius: 10px;
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 20px;
}

.names {
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px grey;
  background: #add8e6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px grey;
  background: #114b96;
}
.container {
  box-shadow: inset 0 0 5px grey;
  width: 100%;
  padding: 15px 10%;
  background: #ffdb63;
  border-radius: 5px;
  margin: "5px";
}

.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.logo {
  position: sticky;
  width: 140px;
}
nav {
  box-shadow: inset 0 0 5px grey;
  display: grid;
  align-items: left;
  justify-content: space-between;
  z-index: 3;
  flex-wrap: wrap;
  background: #785812;
  position: fixed;
  top: 20px;
  padding: 7px;
  width: 100%;
  text-align: left;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #02113f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
/* cool transition css stuff */
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: black;
}
/* --------------------------about------------------------ */
.alexflick {
  width: 325px;
  height: 500px;
  border-radius: 15px;
}
/* this controls alexes big ass photos */
#about {
  padding: 80px 0;
  /* color: */
  background-color: #2858f8;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #02113f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents {
  display: none;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #1f0545;
  font-size: 14px;
}
.tab-contents.active-tab {
  display: block;
}

/* -----------------------------services---------------------- */
#services {
  padding: 80px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #1f28fd;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  border-style: dashed;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div a {
  padding: 5px;
  width: fit-content;
  border-style: dashed;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #add8e6;
  transform: translateY(-10px);
}
/* ---------portfolio-------- */
#portfolio {
  padding: 80px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.work {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
h2{
  text-align: left;
}

h5{
  text-align: left;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(256, 256, 256, 0.6), #a1c0dc);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  flex-direction: column;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.layer h2 {
  font-weight: 750;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #1f104f;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}

.btn {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  transition: background 0.5s;
}
.btnnext {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  transition: background 0.5s;
}
.btnback {
  /* border-style: dashed; */
  margin: 10px auto;
  width: fit-content;
  /* border: 3px solid #dc582a; */
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  color: #ffffff;
  background: #add8e6;
  transition: background 0.5s;
}
.btn-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.btn:hover {
  background: #ffdb63; /*lighter orange*/
  /* border: 3px solid #dc582a; */
}

.btnback:hover {
  background: #ffdb63; /*lighter orange*/
  /* border: 3px solid #dc582a; */
}

/* --------------contact-------------- */
#contact {
  padding: 80px 0;
}
.contact-left {
  flex-basis: 35%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #0010df;
  margin-right: 15px;
  font-size: 25px;
}
.contact-right {
  flex-basis: 60%;
}
.contact-right form {
  width: 100%;
}
/* form input, */
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 10px 10px;
  font-size: 18px;
  margin-top: 8px;
  cursor: pointer;
}
form {
  margin: 3px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 3px;
}
.form-check-input {
  background-color: #106cfc;
  border-color: #106cfc;
  padding-bottom: 40px;
  padding-left: 100px;
  position: relative;
  width: 40px;
  height: 20px;
}

.form-check-input:after {
  position: absolute;
  left: 50%;
  top: 15%;
  content: "🔧";
  color: white;
  font-size: 18px;
}

.form-check-input:checked {
  background-color: #14b336;
  /* border-color: #106cfc; */
}

.form-check-input:checked:after {
  left: 20%;
  content: "➕";
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #0010df;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #0010df;
}
.copyright {
  box-shadow: inset 0 0 5px grey;
  background: #114b96;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 300;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.copyright i {
  color: #ff0418;
}

/* downloading resume button */

/* ---------------------------css small screens--------- */
nav .fas {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(assets/musicbg1.jpg);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  .header-text h1 span {
    color: black;
  }
  nav .fas {
    display: block;
    font-size: 25px;
    padding: 10px;
    color: #000;
  }
  nav ul {
    background: #0010df;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-tile {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left {
    flex-basis: 100%;
  }
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 15px;
  }
}
#msg {
  color: #51b752;
  margin-top: -40px;
  display: block;
}

.highlight {
    background-color: rgba(255, 0, 0, 0.5); /* Red with transparency */
    border: 2px solid red; /* Optional border */
}

/* my colors
 #ffdb63 -darker yellow
#1f28fd -some red
#1858f8 -back blue
#02113f -
#ababab 

*/
